<div class="create-container hide">
  <div class="popup create-popup">
    <a href="/home/posts/new">
      <div class="sub-section">
        <i class="fa-solid fa-photo-film"></i>
        <span>Post</span>
      </div>
    </a>
    <a
      href="https://aistudio.instagram.com/create/?utm_source=ig_web_nav_create"
      target="_blank"
    >
      <div class="sub-section">
        <i class="fa-solid fa-table-cells-large"></i>
        <span>AI&nbsp;character</span>
      </div>
    </a>
  </div>
</div>
