<link rel="stylesheet" href="/css/followers.css" />
<div class="follower-container hide">
  <div class="main-container">
    <div class="popup-header">
      <h3>Followers</h3>
      <button class="close-btn">&times;</button>
    </div>
    <div class="follow-search-bar">
      <input type="text" id="search" placeholder="Search" />
    </div>
    <ul class="followers-list">
      <% if(user.followers) { %> <% for(let follower of user.followers) {%>
      <li>
        <div class="follower-info">
          <img src="<%= follower.profilePic.url %>" alt="Profile Picture" />
          <span class="name"><%= follower.username %></span>
        </div>
        <button class="remove-btn">Remove</button>
      </li>
      <% } %> <% } else { %>
      <li>No Followers Yet</li>
      <% } %>
    </ul>
  </div>
</div>
