<link rel="stylesheet" href="/css/footer.css" />
<footer class="instagram-footer">
  <div class="footer-links">
    <a href="https://about.instagram.com/" target="_blank">About</a>
    <a href="https://help.instagram.com/" target="_blank">Help</a>
    <a href="https://about.instagram.com/blog" target="_blank">Press</a>
    <a
      href="https://developers.facebook.com/docs/instagram-platform"
      target="_blank"
      >API</a
    >
    <a href="https://about.instagram.com/about-us/careers" target="_blank"
      >Jobs</a
    >
    <a
      href="https://privacycenter.instagram.com/policy/?entry_point=ig_help_center_data_policy_redirect"
      target="_blank"
      >Privacy</a
    >
    <a href="https://help.instagram.com/581066165581870/" target="_blank"
      >Terms</a
    >
    <a href="https://www.instagram.com/explore/locations/" target="_blank"
      >Locations</a
    >
    <a
      href="https://www.instagram.com/language/preferences/?hl=en"
      target="_blank"
      >Language</a
    >
  </div>
  <p class="footer-text">© 2025 Instagram from Meta</p>
</footer>
