<link rel="stylesheet" href="/css/infoPopup.css" />
<div class="overlay hide">
  <div class="menu-container">
    <ul class="action-menu">
      <li class="action-item danger">Report</li>
      <li class="action-item danger">Unfollow</li>
      <li class="action-item">Add to Saved</li>
      <li class="action-item">Go to post</li>
      <li class="action-item">Share to...</li>
      <li class="action-item">Copy link</li>
      <li class="action-item">Embed</li>
      <li class="action-item">About this account</li>
      <li class="action-item cancel">Cancel</li>
    </ul>
  </div>
</div>
