<link rel="stylesheet" href="/css/popup.css" />
<div class="more-container hide">
  <div class="popup more-popup">
    <div class="upper-popup">
      <a href="#">
        <div class="sub-section">
          <i class="fa-solid fa-gear"></i>
          <span>Setting</span>
        </div>
      </a>
      <a href="#">
        <div class="sub-section">
          <i class="fa-solid fa-chart-line"></i>
          <span>Your&nbsp;activity</span>
        </div>
      </a>
      <a href="#">
        <div class="sub-section">
          <i class="fa-regular fa-bookmark"></i>
          <span>Saved</span>
        </div>
      </a>
      <a href="#">
        <div class="sub-section">
          <i class="fa-regular fa-sun"></i>
          <span>Switch&nbsp;appearence</span>
        </div>
      </a>
      <a href="#">
        <div class="sub-section">
          <i class="fa-regular fa-file-excel"></i>
          <span>Report&nbsp;a&nbsp;problem</span>
        </div>
      </a>
    </div>
    <div class="hr"></div>
    <div class="lower-popup">
      <a href="#">
        <div class="sub-section">
          <span>Switch&nbsp;accounts</span>
        </div>
      </a>
      <a href="/insta/logout">
        <div class="sub-section">
          <span>Log&nbsp;out</span>
        </div>
      </a>
    </div>
  </div>
</div>
