<link rel="stylesheet" href="/css/searchPopup.css" />
<div class="popup-container hide">
  <div class="search-popup">
    <h2>Search</h2>
    <div class="search-bar">
      <input type="text" placeholder="Search" />
      <button class="clear-btn">✕</button>
    </div>
    <div class="recent-searches">
      <h3>Recent</h3>
      <p class="no-recent">No recent searches.</p>
    </div>
  </div>
</div>
