/* styling navbar section  */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 99vh;
  width: 245px;
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  border-right: 0.1px solid grey;
  position: sticky;
  margin-right: 0.5rem;
}

.navbar p {
  color: var(--font-color);
  font-family: "Signika", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
}

.instagram-text-logo {
  width: 150px;
  margin: 5px 30px;
  cursor: pointer;
}

.instagram-text-logo img {
  width: 100%;
  /* filter: brightness(5); */
}

.sub-section span {
  margin-left: 1.2rem;
}

.sub-section {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s ease;
}

.sub-section:hover {
  background-color: #ced4da;
  /* background-color: var(--background-on-hover); */
}

.sub-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section:hover .profile-img {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section i {
  font-size: 1.3rem;
  color: var(--font-color);
  transition: all 0.2s ease;
}

.profile-img {
  width: 22px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  border-radius: 50%;
}

/* MEDIA QUERIES */
@media (max-width: 750px) {
  .container .navbar {
    flex-direction: row;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1000;
    height: 60px;
    bottom: -1px;
    top: auto;
    gap: 0;
    border-right: none;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-shadow: -1px 14px 20px 4px black;
  }

  .middle-section .post-section {
    padding: 40px 5px;
  }

  .navbar p {
    display: none;
  }

  .navbar .sub-section {
    padding: 10px 10px;
  }

  #hidden {
    display: none;
  }
  #hidden1 {
    display: none;
  }
  #hidden2 {
    display: none;
  }
  .instagram-text-logo {
    display: none;
  }
}

@media (max-width: 1198px) {
  .navbar .sub-section p {
    display: none;
  }
  .navbar .menu-section p {
    display: none;
  }
  .navbar .sub-section {
    gap: 0;
  }
  .instagram-text-logo {
    display: none;
    /* position: absolute; */
  }
  .navbar {
    width: 79px;
  }
}

@media (max-width: 1003px) {
  .follow-section {
    display: none;
  }
  .middle-section .post-area {
    padding-inline: 0;
  }
}

@media (max-width: 690px) {
  .post-section .story-section {
    justify-content: space-evenly;
  }
  .story-section #story-7 {
    display: none;
  }
}

@media (max-width: 562px) {
  .story-section #story-6 {
    display: none;
  }
}

@media (max-width: 482px) {
  .story-section #story-5 {
    display: none;
  }
}

@media (max-width: 402px) {
  .story-section #story-4 {
    display: none;
  }
}

@media (max-width: 323px) {
  #story-3 {
    display: none;
  }
}
@media (max-width: 259px) {
  #story-2 {
    display: none;
  }
}
