<% layout("/layouts/messages") %>
<!-- Chat Window -->
<div class="chat-container">
  <div class="chat-box">
    <div class="icon">
      <img
        src="https://i.pinimg.com/originals/67/17/73/6717730bba68e1190b20c740459707f0.jpg"
        alt="Messenger Icon"
      />
    </div>
    <h1>Your messages</h1>
    <p>Send a message to start a chat.</p>
    <a href="#" class="button">Send&nbsp;message</a>
  </div>
</div>
